<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>
      <!-- # Pluralize is pretty spectacular. It pluralizes whatever word you give it. So, error will become errors, woman will become women, etc. What a wicked-cool-tool! -->
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>